* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none !important;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar {
    width: 6px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #CACACA;
}

body {
    background-color: dodgerblue;
    overflow: hidden;
}

.container {
    display: flex;
    height: 100vh;
}

.container .left {
    background-color: white;
    width: 25vw;
}

.container .left .top {
    padding: 5px;
    display: flex;
    justify-content: center;
}

.container .left .top input {
    padding: 10px;
    width: 100%;
    outline: none;
    border-radius: 5px;
    border: 2px solid dodgerblue;
}

.users {
    height: 100vh;
    overflow: scroll;
    padding: 5px;
}

.users .user {
    gap: 20px;
    font-size: 20px;
    cursor: pointer;
    color: white;
    margin-bottom: 10px;
    padding: 5px;
    border-radius: 5px;
    background-color: dodgerblue;
    display: flex;
    align-items: center;
    -webkit-box-shadow: 0px 5px 5px -5px rgba(34, 60, 80, 0.6);
    -moz-box-shadow: 0px 5px 5px -5px rgba(34, 60, 80, 0.6);
    box-shadow: 0px 5px 5px -5px rgba(34, 60, 80, 0.6);
}

.users .user .logo {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffc107;
}

.container .right {
    width: 75vw;
    position: relative;
}

.floating-form {  
    position: absolute;
    bottom: 20px;
    width: 90%;
    background-color: #ffc107;
    right: 50%;
    transform: translateX(50%);
    border-radius: 10px;
}

.floating-form input[type="text"] {
    width: 100%;
    height: 50px;
    border: none;
    outline: none;
    padding: 10px 20px;
    border-radius: 5px;
}

.right .messages {
    padding: 20px;
    overflow-y: auto;
    height: 100vh;
}

.messages .message {
    display: flex;
    margin-bottom: 2px;
}

.messages .self.message {
    justify-content: end;
}

.messages .message .message-text {
    padding: 10px;
    color: white;
    background-color: #01539D;
    border-radius: 8px 8px 8px 0px ;
}

.messages .self.message .message-text {
    padding: 10px;
    color: black;
    background-color: #EEA47F;
    border-radius: 8px 8px 0px 8px ;
}