* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.modal {
    display: none;
    position: fixed !important;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
    justify-content: center;
    align-items: center;
}


.modal-window {
    width: 600px;
    min-height: 10px;
    background-color: #fff;
    box-shadow: 0 5px 15px 0 rgba(0,0,0,0.2); 
    padding: 10px;
    position: relative;
    border-radius: 5px;

    text-align: center;
    
}

.close {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #00000070;
    cursor: pointer;
    border-radius: 50%;
}

#modal-image {
    width: 100%;    
    height: auto;
}


.send {
    margin-top: 10px;
    padding: 10px 25px;
    color: white;
    background-color: dodgerblue;
    display: inline-block;
    width: min-content;
    border-radius: 5px;
    cursor: pointer;
}