<!DOCTYPE html>{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="icon" href="https://www.google.com/imgres?imgurl=https%3A%2F%2Fcdn-icons-png.flaticon.com%2F512%2F4436%2F4436481.png&tbnid=islFQXho74BZYM&vet=12ahUKEwiFlq6TvJ3-AhXBvSoKHUUqBIgQMygDegUIARDCAQ..i&imgrefurl=https%3A%2F%2Fwww.flaticon.com%2Ffree-icon%2Fcorrect_4436481&docid=ETk63VyPjCf6TM&w=512&h=512&q=icon&client=ubuntu-sn&ved=2ahUKEwiFlq6TvJ3-AhXBvSoKHUUqBIgQMygDegUIARDCAQ" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
</head>
<body>
    
    <div class="container">
        <div class="left">
            <div class="top">
                <input type="search" name="q">
            </div>
            <div class="users">
                {% for chat in chats %}
                    <a href="{% url 'chat' chat.pk %}">
                        <div class="user">
                            <div class="logo">
                                {% if chat.u1 != request.user %}
                                    <span>{{ chat.u1.username.0|capfirst }}</span>
                                {% else %}
                                    <span>{{ chat.u2.username.0|capfirst }}</span>
                                {% endif %}
                            </div>
                            <div class="username">
                                {% if chat.u1 != request.user %}
                                    <span>{{ chat.u1.username }}</span>
                                {% else %}
                                    <span>{{ chat.u2.username }}</span>
                                {% endif %}
                            </div>
                        </div>
                    </a>
                {% endfor %}
            </div>
        </div>
        <div class="right">
            {% block content %}
                <div class="no-content">
                    <span>
                        Select a chat to messaging
                    </span>
                </div>
            {% endblock content %}
        </div>
    </div>



    {% block script %}
    {% endblock script %}
</body>
</html>