{% extends 'base.html' %}
{% load static %}


{% block content %}

<div class="top">
    <div class="logo">
        {% if chat.u1 != request.user %}
            <span>{{ chat.u1.username.0|capfirst }}</span>
        {% else %}
            <span>{{ chat.u2.username.0|capfirst }}</span>
        {% endif %}
    </div>
    <div class="username">
        {% if chat.u1 != request.user %}
            <span>{{ chat.u1.username }}</span>
        {% else %}
            <span>{{ chat.u2.username }}</span>
        {% endif %}
    </div>
</div>
<div class="msg-container">
    <div class="messages" id="messages">
        
        {% for message in messages %}
            <div class="{% if message.sender == request.user  %} self {% endif %} message">
                <div class="message-content">
                    {% if message.text %}
                        {{ message.text }}
                    {% elif message.image %}
                        <img src="{{ message.image.url }}" alt="Not load">
                    {% endif %}
                </div>
            </div>            
        {% endfor %}
    </div>
</div>
<div class="floating-form" method="post">
    <input type="text"  class="text-box" placeholder="Send message..." autofocus>
    <input type="file" value="Select image" hidden id="file" accept="image/*">
    <label class="select-image" for="file">
        <i class="fa-solid fa-image"></i>
    </label>
</div>

{% endblock content %}
