<!DOCTYPE html>{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>


    <link rel="stylesheet" href="{% static 'css/home.css' %}">
</head>
<body>
    
    <div class="container">
        <div class="left">
            <div class="top">
                <input type="search" name="q">
            </div>
            <div class="users">
                <a href="./">
                    <div class="user">
                        <div class="logo">
                            <span>A</span>
                        </div>
                        <div class="username">
                            <span>Abdurazzoq</span>
                        </div>
                    </div>
                </a>
                <a href="./">
                    <div class="user">
                        <div class="logo">
                            <span>A</span>
                        </div>
                        <div class="username">
                            <span>Abdurazzoq</span>
                        </div>
                    </div>
                </a>
                <a href="./">
                    <div class="user">
                        <div class="logo">
                            <span>A</span>
                        </div>
                        <div class="username">
                            <span>Abdurazzoq</span>
                        </div>
                    </div>
                </a>
                <a href="./">
                    <div class="user">
                        <div class="logo">
                            <span>A</span>
                        </div>
                        <div class="username">
                            <span>Abdurazzoq</span>
                        </div>
                    </div>
                </a>
                <a href="./">
                    <div class="user">
                        <div class="logo">
                            <span>A</span>
                        </div>
                        <div class="username">
                            <span>Abdurazzoq</span>
                        </div>
                    </div>
                </a>
                <a href="./">
                    <div class="user">
                        <div class="logo">
                            <span>A</span>
                        </div>
                        <div class="username">
                            <span>Abdurazzoq</span>
                        </div>
                    </div>
                </a>
                <a href="./">
                    <div class="user">
                        <div class="logo">
                            <span>A</span>
                        </div>
                        <div class="username">
                            <span>Abdurazzoq</span>
                        </div>
                    </div>
                </a>
                <a href="./">
                    <div class="user">
                        <div class="logo">
                            <span>A</span>
                        </div>
                        <div class="username">
                            <span>Abdurazzoq</span>
                        </div>
                    </div>
                </a>
                <a href="./">
                    <div class="user">
                        <div class="logo">
                            <span>A</span>
                        </div>
                        <div class="username">
                            <span>Abdurazzoq</span>
                        </div>
                    </div>
                </a>
                <a href="./">
                    <div class="user">
                        <div class="logo">
                            <span>A</span>
                        </div>
                        <div class="username">
                            <span>Abdurazzoq</span>
                        </div>
                    </div>
                </a>
                <a href="./">
                    <div class="user">
                        <div class="logo">
                            <span>A</span>
                        </div>
                        <div class="username">
                            <span>Abdurazzoq</span>
                        </div>
                    </div>
                </a>
                <a href="./">
                    <div class="user">
                        <div class="logo">
                            <span>A</span>
                        </div>
                        <div class="username">
                            <span>Abdurazzoq</span>
                        </div>
                    </div>
                </a>
                <a href="./">
                    <div class="user">
                        <div class="logo">
                            <span>A</span>
                        </div>
                        <div class="username">
                            <span>Abdurazzoq</span>
                        </div>
                    </div>
                </a>
                <a href="./">
                    <div class="user">
                        <div class="logo">
                            <span>A</span>
                        </div>
                        <div class="username">
                            <span>Abdurazzoq</span>
                        </div>
                    </div>
                </a>
                <a href="./">
                    <div class="user">
                        <div class="logo">
                            <span>A</span>
                        </div>
                        <div class="username">
                            <span>Abdurazzoq</span>
                        </div>
                    </div>
                </a>
                <a href="./">
                    <div class="user">
                        <div class="logo">
                            <span>A</span>
                        </div>
                        <div class="username">
                            <span>Abdurazzoq</span>
                        </div>
                    </div>
                </a>
                <a href="./">
                    <div class="user">
                        <div class="logo">
                            <span>A</span>
                        </div>
                        <div class="username">
                            <span>Abdurazzoq</span>
                        </div>
                    </div>
                </a>
                <a href="./">
                    <div class="user">
                        <div class="logo">
                            <span>A</span>
                        </div>
                        <div class="username">
                            <span>Abdurazzoq</span>
                        </div>
                    </div>
                </a>
                <a href="./">
                    <div class="user">
                        <div class="logo">
                            <span>A</span>
                        </div>
                        <div class="username">
                            <span>Abdurazzoq</span>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="right">
            <div class="top"></div>
            <div class="messages">
                <div class="message">
                    <div class="message-text">
                        lorem ipsum dolor sit amet, consectetur adipis
                    </div>
                </div>
                <div class="self message">
                    <div class="message-text">
                        lorem ipsum dolor sit amet, consectetur adipis
                    </div>
                </div>
                <div class="self message">
                    <div class="message-text">
                        lorem ipsum dolor sit amet, consectetur adipis
                    </div>
                </div>
                <div class="message">
                    <div class="message-text">
                        lorem ipsum dolor sit amet, consectetur adipis
                    </div>
                </div>
            </div>
            <div class="floating-form" method="post">
                <input type="text" class="text-box" placeholder="Send message...">
            </div>
        </div>
    </div>
</body>
</html>